<div class="img col" >

    <div class="card" style="width: 18rem;">
        <img src="{{Url}}" class="card-img-top" width="300px" height="370px" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{Name}}</h5>
            <p class="card-text">{{Price}} BY </p>
            <a href="/products/{{Product_id}}" class="btn btn-primary">Подробнее...</a>
        </div>
    </div>
</div>
