
<div class="img-container container ">
    <div class="card row img-like-products" style="width: 18rem;  ">
        <img src="{{Url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Name: {{Name}}</h5>
            <h5 class="card-title">Price: {{Price}} BY</h5>
            <p class="card-text"> <strong>Description:</strong> {{Description}}</p>
            <a href="/orders" id="add-order" class="btn btn-primary">Add in order</a>
        </div>
    </div>
</div>