
    <div class="img col" data-id="{{Product_id}}" >
        <div class="product-image"><img src="{{Url}}" width="300px" height="370px" alt=""></div>
        <span class="price" > {{Price}} BY </span>
        <a href="/products/{{Product_id}}" id="more" class="btn btn-primary">More details...</a>
    </div>


