<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <title>Qdew</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="/css/all.css">-->
    <link rel="stylesheet" href="/css/main.css">


</head>
<body>

{{{body}}}

</body>
</html>


