<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/pageForProducts.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
</head>

<body style="font-family: CENTURY GOTHIC;">
<h1 class="title-page"><a href="/"><i class="fas ico-fas fa-chevron-circle-left"></i></a>{{titlePage}}</h1>

<div class="container">

    {{{body}}}

    <div class="nav-button">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
                <button type="button" class="btn btn-secondary">4</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">5</button>
                <button type="button" class="btn btn-secondary">6</button>
                <button type="button" class="btn btn-secondary">7</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">8</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="nav-button">-->
<!--    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">-->
<!--        <div class="btn-group mr-2" role="group" aria-label="First group">-->
<!--            <button type="button" class="btn btn-secondary">1</button>-->
<!--            <button type="button" class="btn btn-secondary">2</button>-->
<!--            <button type="button" class="btn btn-secondary">3</button>-->
<!--            <button type="button" class="btn btn-secondary">4</button>-->
<!--        </div>-->
<!--        <div class="btn-group mr-2" role="group" aria-label="Second group">-->
<!--            <button type="button" class="btn btn-secondary">5</button>-->
<!--            <button type="button" class="btn btn-secondary">6</button>-->
<!--            <button type="button" class="btn btn-secondary">7</button>-->
<!--        </div>-->
<!--        <div class="btn-group" role="group" aria-label="Third group">-->
<!--            <button type="button" class="btn btn-secondary">8</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        let productsImages = $('.product-image');

        productsImages.each(function () {
            let imageUrl = $(this).find('img').attr('src');
            $(this).magnificPopup({

                verticalFit: true,
                items: {src: imageUrl, type: 'image'}
            });
        });
    });
</script>

</body>
</html>
