<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/pageForProducts.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
</head>

<body style="font-family: CENTURY GOTHIC;">
<h1 class="title-page"><a href="/"><i class="fas ico-fas fa-chevron-circle-left"></i></a>{{titlePage}}</h1>

<div class="container">

    {{{body}}}




<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        let productsImages = $('.product-image');

        productsImages.each(function () {
            let imageUrl = $(this).find('img').attr('src');
            $(this).magnificPopup({

                verticalFit: true,
                items: {src: imageUrl, type: 'image'}
            });
        });
    });
</script>

</body>
</html>
