<header class="header-container sticky-top">
    <div class="logo">
        <span><img src="/img/logo.jpg" class="img-logo">dew</span>
    </div>
    <div id="sweeties" class="menu"> <!--id="sweeties"-->
        <span class="title">menu</span>
        <ul>
            <div class="w3-sidebar w3-bar-block w3-red" style="width:25%">
                <a href="/pageForMen" class="w3-bar-item w3-button">Для Мужчин</a>
                <a href="/pageForWomen" class="w3-bar-item w3-button">Для Женщин</a>
                <a href="/pageForChildren" class="w3-bar-item w3-button">Для Детей</a>
                <a href="/sale" class="w3-bar-item w3-button">Акции</a>
            </div>
        </ul>
    </div>
    {{#if icoLogin}}
        <div class="login">
            <a href="/login">Log In</a>
        </div>
    {{/if}}


    {{#if icoLogout}}
        <a href="/logout" class="btn btn-primary">LOGOUT</a>
    {{/if}}


    {{#if icoLike}}
        <div class="like-products">
            <a href="/like">
                <svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z"
                          clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    {{/if}}


    {{#if icoOrder}}
        <div class="orders">
            <a href="/orders">
                <svg class="bi bi-bag" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M14 5H2v9a1 1 0 001 1h10a1 1 0 001-1V5zM1 4v10a2 2 0 002 2h10a2 2 0 002-2V4H1z"
                          clip-rule="evenodd"/>
                    <path d="M8 1.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
                </svg>
            </a>
        </div>
    {{/if}}

</header>

<div class="main-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/img/8.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h3>First slide</h3>
                    <p>This is the first slide.</p>
                </div>
            </div>


            <div class="carousel-item">
                <img class="d-block w-100" src="/img/1.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h3>Second slide</h3>
                    <p>This is the second slide.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="/img/9.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h3>Third slide</h3>
                    <p>This is the third slide.</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<span class="shopping-list"><i class="fas ico-fas fa-feather-alt"></i></span>
<div id="myModal">
    <span id="myModal__close" class="close">ₓ</span>
    <div id="shopping-list-item">
        <h2 class="h2-for-shopping-list">Shopping List<span class="span-shopping-list"><i
                class="fas fa-plus-circle"></i></span></h2>
        <input type="text" name="" placeholder="Add Item">
        <ul class="ul-shopping-list">
            <li class="li-shopping-list">Milk <span class="span-shopping-list"><i class="fas fa-backspace"></i></span>
            </li>
            <li class="li-shopping-list">Meat <span class="span-shopping-list"><i class="fas fa-backspace"></i></span>
            </li>
            <li class="li-shopping-list">Bread <span class="span-shopping-list"><i class="fas fa-backspace"></i></span>
            </li>
        </ul>
    </div>
</div>
<div id="myOverlay"></div>


<h1 style="text-align: center;  font-family: CENTURY GOTHIC; margin-bottom: 2%; margin-top: 2%;">ONLY TODAY DISCOUNTS UP
    TO 30%</h1>

<div class="img-container container">
    <div class="card mb-3" style="max-width: 540px; float: left; margin-right: 3%">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a class="img" href="/sale"><img src="/img/safe1.jpeg" class="card-img"></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a class="img" href="/sale"><img src="/img/safe3.jpg" class="card-img"></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="card bg-dark text-white" style="width: 100%; ">
    <img src="/img/Qdew.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>

<!--<div class="img-container ">-->

<!--    <a class="img" href="/sale"><img src="/img/safe1.jpeg" width="400px" height="400px"></a>-->
<!--    <a class="img" href="/sale"><img src="/img/safe2.jpg" width="400px" height="400px"></a>-->
<!--    <a class="img" href="/sale"> <img src="/img/safe3.jpg" width="400px" height="400px"></a>-->

<!--</div>-->

<div class="favorite-product container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/client.js" type="text/javascript"></script>

<footer class="footer-main container">
    <hr>
    <div class="footer-main">
        2020 Septilko A.A.
    </div>

</footer>