<div class="row">
    {{#each productItems}}
        {{>orderProduct}}
    {{/each}}
</div>

{{#if buttonRealizeOrder}}<a href="#" id="realize-order" class="btn btn-primary realize-order">Оформить заказ</a>{{/if}}
<div class="myModal">
    <span class="close myModal__close">x</span>
    <form class="realize-order-form" action="/realizeOrder" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput2">Страна:</label>
            <input type="text" name="country" class="form-control"
                   placeholder="Please enter a country" required>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Город:</label>
            <input type="text" name="city" class="form-control" placeholder="Please enter a city"
                   required>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Улица:</label>
            <input type="text" name="street" class="form-control" placeholder="Please enter a street"
                   required>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Почтовый код:</label>
            <input type="text" name="postcode" class="form-control" placeholder="Please enter a postcode"
                   required>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Цена:</label>
            <input type="text" name="price" class="form-control" value="{{price}}" readonly="readonly"
                   data-toggle="popover" data-placement="top" data-trigger="focus" title="Способ оплаты"
                   data-content="Наличными либо картой (на ваше усмотрение).Оплата осуществляется с курьером.">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Комментарий:</label>
            <input type="text" class="form-control" id="formGroupExampleInput7" name="comment"
                   placeholder="If you have any wishes or comments write in the field please">
        </div>
        <button type="submit" class="btn btn-primary submit">Заказать!</button>

    </form>
</div>
<div class="myOverlay"></div>