
<div class="row">
    {{#each products}}
        {{>product}}
    {{/each}}
</div>

<div class="nav-button">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">

            <a href="/pageForChildren?page=1" class="btn btn-secondary">1</a>
            <a href="/pageForChildren?page=2" class="btn btn-secondary">2</a>
            <a href="/pageForChildren?page=3" class="btn btn-secondary">3</a>
            <a href="/pageForChildren?page=4" class="btn btn-secondary">4</a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a href="/pageForChildren?page=5" class="btn btn-secondary">5</a>
            <a href="/pageForChildren?page=6" class="btn btn-secondary">6</a>
            <a href="/pageForChildren?page=7" class="btn btn-secondary">7</a>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <a href="/pageForChildren?page=8" class="btn btn-secondary">8</a>
        </div>
    </div>
</div>
</div>
