</br>
<div class="main-div-sale">
    <div class="media">
        <img src="/img/sale/s1.jpg" class="align-self-center mr-3"  width="400px" height="400px" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Только неделю! с 4 по 11 мая. </h5>
            <p name="top">При покупке трех любых товаров в разделе "Для женщин", Вы получаете базовую водолазку в подарок. Совершенно бесплатно! </p>
            <p class="mb-0">Перейдите по <a class='href' href="/products/14" >ссылке</a> чтобы посмотреть наши водолазки.</p>
        </div>
    </div>
    </br>
    <div class="media">
        <img  src="/img/sale/s2.jpg"  class="align-self-center mr-3"  width="400px" height="500px" alt="...">
        <div class="media-body">
            <h5 class="mt-0">В мае держателям дисконтных карт «Qdew» - скидка 10% на ВСЮ летнюю коллекцию!</h5>
            <p name="top">Условия проведения акции:
                Каждому покупателю, предъявившему дисконтную карту покупателя, с накоплением не менее 50 рублей, предоставляется скидка в размере 10% от сформированной розничной цены на один летний товар. Скидки по дисконтной программе  покупателя «Qdew» <strong> не предоставляются и не суммируются</strong>. Сумма покупки идет в накопление на дисконтную карту. Дисконтная карта выдается покупателю безвозмездно согласно Положения о дисконтной программе.Акция проводится для физических лиц, производящих оплату за товары наличными денежными средствами или банковскими платежными карточками.</p>
            <p class="mb-0">Факт участия в рекламной акции подразумевает ознакомление и полное согласие участника с вышеизложенным порядком.</p>
        </div>
    </div>
    </br>
    <div class="media">
        <img src="/img/sale/s3.jpg" class="align-self-center mr-3"  width="400px" height="500px" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Целый месяц! ВЕСЬ МАЙ! </h5>
            <p name="top">При покупке пиджака №24, Вы получаете ремень с картинки в подарок. Совершенно бесплатно! </p>
            <p class="mb-0">Перейдите по <a class='href' href="/products/24" >ссылке</a> чтобы посмотреть пиджак.</p>
        </div>
    </div>


    <a href="#top"  class="go-up" > В начало
        <svg class="bi bi-arrow-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
        </svg>
    </a>

</div>
<hr>