</br>
<div class="main-div-sale">
    <div class="media">
        <img src="/img/sale/s1.jpg" class="align-self-center mr-3"  width="400px" height="400px" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Только неделю! с 4 по 11 мая. </h5>
            <p name="top">При покупке трех любых товаров в разделе "Для женщин", Вы получаете базовую водолазку в подарок. Совершенно бесплатно! </p>
            <p class="mb-0">Перейдите по <a class='href' href="/products/31" >ссылке</a> чтобы посмотреть наши водолазки.</p>
        </div>
    </div>
    </br>
    <div class="media">
        <img  src="/img/sale/s2.jpg"  class="align-self-center mr-3"  width="400px" height="500px" alt="...">
        <div class="media-body">
            <h5 class="mt-0">В мае держателям дисконтных карт «Qdew» - скидка 10% на ВСЮ летнюю коллекцию!</h5>
            <p name="top">Условия проведения акции:
                Каждому покупателю, предъявившему дисконтную карту покупателя, с накоплением не менее 50 рублей, предоставляется скидка в размере 10% от сформированной розничной цены на один летний товар. Скидки по дисконтной программе  покупателя «Qdew» <strong> не предоставляются и не суммируются</strong>. Сумма покупки идет в накопление на дисконтную карту. Дисконтная карта выдается покупателю безвозмездно согласно Положения о дисконтной программе.Акция проводится для физических лиц, производящих оплату за товары наличными денежными средствами или банковскими платежными карточками.</p>
            <p class="mb-0">Факт участия в рекламной акции подразумевает ознакомление и полное согласие участника с вышеизложенным порядком.</p>
        </div>
    </div>
    </br>
    <div class="media">
        <img src="/img/safe3.jpg"  class="align-self-center mr-3"  width="400px" height="400px" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Center-aligned media</h5>
            <p name="top">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>

    <a href="#top" style="text-align: center">В начало</a>

</div>
<hr>