<div class="alert alert-success" role="alert">
   Ваш заказ оформлен, <a href="/orders" class="alert-link">можете просмотреть корзину</a>. Наш консультант свяжется с вами в ближайшее время, чтобы обсудить подробности заказа.
    Ожидайте. Спасибо что выбрали нас.
</div>
