head{
    background-color: black;
    height: 10%;
    color: white;
}

body{
    background: url("/img/fonLogin.jpg") repeat-y ;
    background-size: 100%;
}
.login {
    position: relative;
    width:50% ;
    left:25%;
    border: solid 5px rgba(6, 49, 20, 0.83);
    border-radius:25px ;
    padding: 5%;
    background: rgba(82, 76, 14, 0.31);
    opacity: 1;
}
.register{
    position: relative;
    top: 2%;
    left: 60%;
    cursor: pointer;
    font-size: 20px;
    color:black;
}
.register:hover{
    color: rgba(189, 185, 185, 0.863);
    font-weight: 100;
}
