
body{
    background: url("/img/fon.jpg") repeat-y ;
    background-size: 100%;
}
.login {
    position: relative;
    width:50% ;
    left:25%;
    margin-top:3%;
    border: solid 2px rgba(6, 49, 20, 0.83);
    border-radius:25px ;
    padding: 5%;
    background: rgba(92, 96, 88, 0.29);
    opacity: 1;
}
.register{
    position: relative;
    top: 5%;
    left: 40%;
    cursor: pointer;
    font-size: 20px;
    color:black;
}
.register:hover{
    color: rgba(189, 185, 185, 0.863);
    font-weight: 100;
}
