html, body {
    height: 100%;
    background-color: white;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

header {
    background-color: whitesmoke;
    height: 5rem;
    color: black;

}

.carousel-inner img {
    display: block;
    height: 40rem;
    filter: alpha(Opacity=85);
    opacity: 0.85;
}

.header-container {
    display: flex;

}

.logo {
    position: relative;
    left: 5%;
    width: 20%;
}

.logo span {
    font-family: CENTURY GOTHIC;
    font-size: 3em;
}

.login {
    cursor: pointer;
}
.login:hover {
    color: rgba(189, 185, 185, 0.863);

}
.login a{
    position: relative;
    font-family: CENTURY GOTHIC;
    top: 30%;
    right: -900%;
    width: 20%;
    font-size: 1.5em;
    color: black;
}


.title {
    cursor: pointer;
}

.title:hover {
    color: rgba(189, 185, 185, 0.863);
}
.menu {
    font-family: CENTURY GOTHIC;
    position: relative;
    top: 30%;
    left: 64%;
    width: 20%;
    font-size: 1.5em;
}

.menu .title::before {
    content: '▶ ';
}

.menu.open .title::before {
    content: '▼ ';
}

.menu.open ul {
    display: block;
}
.menu ul {
    position: relative;
    list-style: none;
    display: none;
    right:58.3% ;
    top:25%;
}

.w3-red, .w3-hover-red:hover {
    color: black!important;
    background-color: #f1f1f1!important;

}
.bi {
    cursor: pointer;
    color: black;
}
.bi:hover {
    color: rgba(189, 185, 185, 0.863);
}
.like-products{
    position: relative;
    top: 33%;
    left: 47%;
    font-size: 1.8em;
    color: black;
}
.orders{
    position: relative;
    top: 33%;
    left: 48%;
    font-size: 1.8em;
}
/*
 * Main Container
 */

.main-container {
    position: relative;
    width: 100%;
}

.main-container .carousel {
    position: relative;
    width: 50%;
    left: 25%;
}
.img{
    width: 25%;
    margin: 10% 5% 5% 0%;
}

.img-container {
    position: relative;
    left: 5%;
    width: 100%;
}

.favorite-product{
    width: 90%;
    position: relative;
    left: 5%;
    top: 5%;
    bottom: 10%;
}
/******************/
/*footer*/
/**/
footer{
    margin-top: 5%;
}
.footer-main{
    position: relative;
    right: 5%;
    font-size: 2em;
    float: right;
    font-family: CENTURY GOTHIC;
    text-transform: uppercase;
}

