html, body {
    height: 100%;
    background-color: white;
}

header {
    background-color: whitesmoke;
    height: 5rem;
    color: black;
}

.carousel-inner img {
    display: block;
    height: 40rem;
    filter: alpha(Opacity=85);
    opacity: 0.85;
}

.header-container {
    display: flex;
}

.logo {
    position: relative;
    left: 5%;
    width: 20%;
}

.logo span {
    font-family: CENTURY GOTHIC;
    font-size: 3em;
}

.login {
    cursor: pointer;
}
.login a{
    position: relative;
    top: 30%;
    right: -940%;
    width: 20%;
    font-size: 1.5em;
    color: black;
}

.login:hover {
    color: rgba(189, 185, 185, 0.863);

}
.title {
    cursor: pointer;
}

.title:hover {
    color: rgba(189, 185, 185, 0.863);
}
.menu {
    position: relative;
    top: 30%;
    left: 65%;
    width: 20%;
    font-size: 1.5em;
}

.menu .title::before {
    content: '▶ ';

}

.menu.open .title::before {
    content: '▼ ';
}

.menu.open ul {
    display: block;
}
.menu ul {
    position: relative;
    list-style: none;
    display: none;
    right:63% ;
    top:25%;
}

.w3-red, .w3-hover-red:hover {
    color: black!important;
    background-color: #f1f1f1!important;

}


/*
 * Main Container
 */

.main-container {
    position: relative;
    width: 100%;
}

.main-container .carousel {
    position: relative;
    width: 50%;
    left: 25%;
}
