
.title-page{
    border-bottom: 2px solid gray ;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1%;

}
.product-image{
    position: relative;

    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}
.product-image :hover{
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

/*.img-container-page-products {*/
/*    position: relative;*/
/*    left: 10%;*/
/*    width: 90%;*/
/*    display: inline-block;*/

/*}*/
.my-tooltip-class{
    background-color: #D1C4E9;
    font-size: 12px;
}
.price{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #0e5d47;
     /*#7D8A2E*/
}
#more{
    background: #0e5d47;
    border-color:#0e5d47 ;
    margin-top: 1%;
    margin-bottom: 1%;
}
#more:hover{
    background: #686668;
    border: none;
    font-size: 0.95rem;
}
.nav-button{
    display: inline;
    position: relative;

}
.ico-fas {
    font-size: 3rem;
    color: #0e5d47;
    float: left;
    margin-left: 1%;

}
.ico-fas:hover{
    color: #858385;
    /*box-shadow: 0 15px 15px 0 rgba(0,0,0,0.5);*/
    transition: 0.3s;
}