body{
    background: url("/img/vv.jpg") repeat-y;
}
.product-description {
    position: relative;
    left: 5%;
    width: 90%;
}
/*IMAGE SLIDE*/
.main-container-product{
    position: relative;
    float: left;
    width: 40%;
    margin-top: 3%;

}
.carousel-inner{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}



/*PRODUCT DESCRIPTION*/
.product{
    position: relative;
    float: left;
    width: 45%;
    margin-top: 3%;
}
.card-body{
    font-size: 1.1rem;
}

/*LIKE && ORDER ICONS */
.like-order-product{
    margin-top: 3%;
    margin-left: 1%;
    font-size: 2.5rem;
    position: relative;
    width: 5%;
    float: left;
    border-radius:100px; /* Радиус скругления */
    border: 1.5px solid #0e5d47; /* Параметры рамки */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.btn-link {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #0e5d47;
    background-color: transparent;
}

.btn-link:hover {
    color: gray;
    text-decoration: none;
    font-size: 1.4rem;
}

.btn-link:focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
}

.bi {
    cursor: pointer;
    color: black;
    margin-left: 18%;
}
.bi:hover {
    color: rgba(189, 185, 185, 0.863);
}
.red{
    fill: red;
   /*background-color: red;*/
}


