
body{
    background: url("/img/fon.jpg") repeat-y ;
    background-size: 100%;
}
.register-border {
    position: relative;
    width:50% ;
    left:25%;
    margin-top:3%;
    border: solid 2px rgba(6, 49, 20, 0.83);
    border-radius:25px ;
    padding: 5%;
    background: rgba(92, 96, 88, 0.29);
    opacity: 1;
}
.col-md-6{
    position: relative;
    padding-left: 0px;

}
