
body{
    background: url("/img/fon.jpg") repeat-y ;
    background-size: 100%;
}
.register-border {
    position: relative;
    width:50% ;
    left:25%;
    margin-top:3%;
    font-size: 18px;
    border: solid 2px rgba(6, 49, 20, 0.5);
    border-radius:25px ;
    padding: 5%;
    background: rgba(253, 255, 248, 0.5);
    opacity: 1;
}
.col-md-6{
    position: relative;
    padding-left: 0px;
}
.title-register{
    position: relative;
    top: 10%;
    font-family: CENTURY GOTHIC;
    font-size: 2rem;
    left: 33%;
}