head{
    background-color: black;
    height: 75px;
    margin: 0 auto;
    color: white;
}

form{
    margin-top: 270px;
    margin-left:600px;
    margin-right:480px;
}
body{
    background: url("/img/fon.jpg") repeat-y ;
    background-size: 100%;
    height: 1200px;
}