body{
    font-family: CENTURY GOTHIC;
}
.tab-content{
    background: white;
}
.table-size{
    position: relative;
    width: 100%;
    margin-top: 2%;
    /*background: url("/img/vv2.jpg") repeat-x;*/
}
.list-group-item.list-group-item-action.active{
    z-index: 2;
    color: #fff;
    background-color: #0e5d47;
    border-color: #0e5d47;
}