<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Like</title>
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/likeProducts.css">
</head>
<body>
<h1>Like</h1>

<div class="img-container container">
    <div class="card row " style="width: 18rem; float: left; ">
        <img src="/img/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/orders" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card row" style="width: 18rem;  float: left; margin-left: 3%">
        <img src="/img/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/orders" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card row" style="width: 18rem; float: left;  margin-left: 3%">
        <img src="/img/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/orders" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>