<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/logIn.css">
</head>
<body>
<a href="http://localhost:3000/register" class="register">Перейдите по ссылке чтобы зарегистрироваться</a>
<div class="login">
    <form action="/login" method="post" >
        <div class="form-group"  >
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="username" class="form-control" placeholder="Inter your email, please" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" placeholder="Inter your password, please" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" >
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>