<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="shortcut icon" href="/img/znak.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">

</head>
<body>
<span class="title-register">To register, fill in the following fields:</span>
<div class="register-border">
    <form action="/register" method="post">
        <div class="form-group ">
            errorIsUser
            <label >First Name</label>
            <input type="text" name="firstName" placeholder="Inter your First Name, please" class="form-control" id="inputFirstName">
        </div>
        <div class="form-group ">
            <label >Last Name</label>
            <input type="text" name="lastName" placeholder="Inter your Last Name, please" class="form-control" id="inputLastName">
        </div>
        <div class="form-group ">
            <label >Phone number</label>
            <input type="text" name="phoneNumber" placeholder="Inter your Phone number, please" class="form-control" id="inputPhoneNumber">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="username" class="form-control" id="exampleInputEmail1"
                   placeholder="Inter your email, please" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" placeholder="Inter your password,please" class="form-control"
                   id="exampleInputPassword1" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm password</label>
            <input type="password" name="confirm" placeholder="Confirm your password,please" class="form-control"
                   id="exampleInputPassword2" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" name="city" placeholder="Inter your city, please" class="form-control" id="inputCity">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>